#sudo docker run -d --name pserver --runtime nvidia -p 9001:9001 -v /etc/pserver:/etc/pserver --net=host -e DISPLAY=:0 --privileged $PSERVER_DOCKER_IMAGE -c /root/mono-config.json
#sudo cp pserver.service /etc/systemd/system/
#sudo systemctl daemon-reload
#sudo systemctl start pserver.service
#sudo systemctl enable pserver.service

[Unit]
Description = pserver daemon

[Service]
ExecStart = /usr/bin/docker start -a pserver
ExecStop = -/usr/bin/docker kill pserver
Restart = always
RestartSec = 3
Type = simple

[Install]
WantedBy = multi-user.target