[Unit]
Description = pserver daemon

[Service]
ExecStartPre = -/usr/bin/docker kill pserver
ExecStartPre = -/usr/bin/docker rm pserver
ExecStart = /usr/bin/docker run --name pserver --runtime nvidia -p 9001:9001 -v /etc/pserver:/etc/pserver --privileged pserver:0.1.7 -c /root/config.json
ExecStop = -/usr/bin/docker kill pserver
ExecStop = -/usr/bin/docker rm pserver
Restart = always
RestartSec = 3
Type = simple

[Install]
WantedBy = multi-user.target